@charset "UTF-8";

/* 게시글 리스트 */
.tablelist{
	width: 90%;
	margin: auto;
	/* border-radius: 10px; */
}
.tablelist thead{
	/* font-weight: bold !important; */
	background-color: #ff0080;
	color: white;
	border-top-left-radius: 10px;
}
.tablelist tbody{
	font-size: 14px;
}
.tablelist > thead > tr > th,
.tablelist > tbody > tr > td{ 
	padding: 5px;
	border-bottom: solid 1px gray;
	border-collapse: collapse;
	height: 40px;
	vertical-align: middle;
	max-width: 500px;
}
.textoverflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.boardtitle{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	padding : 20px 40px;
}
.buttonbox{
	width: 95%;
	margin: 20px 0;
	text-align: right;
}
.searchbox{
	width: 85%;
}
.pgcontainer{
	margin: 15px;
}
#btnSearch, #btnWrite, .btnSimple{
	padding: 7px;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: white;
	font-size: 12px;
}
#btnSearch:hover, #btnWrite:hover, .btnSimple:hover{
	padding: 7px;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #ff0080;
	color: white;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ff0080;
    border-color: #ff0080;
}

/* 페이지네이션 */
.pagination{
	justify-content: center;
	margin: 15px;
}

/* 게시글 디테일 */
.postarea{
	border: 1px solid #DBDBDB;
	border-radius: 5px;
}
.tabledetail{
	width: 90%;
	margin: auto;
	text-align: left;
	padding: 10px;
}
.tabledetail td{
	border: hidden;
}
.detailtitle{
	font-size: 30px;
	font-weight: bold;
	padding: 20px 0;
}
.detailinfo > span{
	margin-right: 15px;
}
.detailfilename{
	color: #75AE87;
	text-decoration: underline;
}
.detailcontent{
	height: 200px;
	vertical-align: top;
}
.buttons_wrap{
	padding-bottom : 15px;
}
/* 댓글 디테일 */
.commentarea{
	width: 100%;
	margin-top: 20px;
}
.commentcountarea{
	text-align: left;
}
.comment_table{
	width: 100%;
	text-align: left;
}
.commentwritearea{
	text-align: center;
}
