.board{
    margin: left;
    margin-top: 30px;
    position: relative;
    width: 76%;
}

.communitybox {
	 border: 3px solid #75AE87;
	 padding: 40px;
	 margin-bottom: 20px;
	 text-align: center;
}

.maintite:after{
	    content: "";
        width: 60px;
        border-bottom: 1px solid;
        margin: 20px 0px;
}

.maintitle h2 {
	padding-bottom: 26px;
	color: black;
	font-size: 2em;
    font-weight: bold;
}

.freebox_title {
	position: relative;
	font-size: 23px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

.communitybox hr {
	border-top: 1px dashed #bbb;
	border-bottom: 1px dashed #fff;
	padding-top: 15px;
	padding-bottom: 15px;  
}

.em_orange {
    display: inline;
    color: #c05711;
}

.point {
    position: relative;
    padding-left: 28px;
    color: #c4426e;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.03em;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.bbs_total span {
	font-weight: bold;
}

.bbs_total span > strong {
	color: #87C4B7;
}

.bbs_total {
	margin-bottom: 5px;
}

.table_top {
	background-color: #75AE87;
	color: white;
	text-align: center;
	font-weight: bold;
}

.bbstable{
	text-align: center;
	font-weight: bold;
}

.list > td {
	margin-top: 30px; 
	margin-bottom: 30px;
}