/* html {
  background: url("../img/camping.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

a {text-decoration: none;}
img {max-width: 100%; height: auto;}

/* margin-top */
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt18 {margin-top:18px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt65 {margin-top:65px !important;}
.mt70 {margin-top:70px !important;}
.mt75 {margin-top:75px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}


/* width */
.wd100 {width:100% !important;}


/* margin-left */
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}

/* clear */
.clear {}
.clear:after {clear:both; content:""; display:block;}
.fl {float:left;}
.fr {float:right;}

/* font-size common 정의 */
.h-title {font-size: 48px; display: block;}
.title {font-size: 36px; font-weight: 900; display: block;}
.sub-title {font-size: 24px;}
/* font-size common 정의 */

/* box-shadow 정의 */
.shadow {box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
/* box-shadow 정의 */

/* button 정의 */
.pr-btn {width: 80px; height:40px; border-radius: 10px; background-color: #D5EEBB; border: none;}
/* button 정의 */

/* font color 정의 */
.f_wcolor { color: #ffffff; }
.f_bcolor { color: #000000; }
