@charset "UTF-8";

/* faq */
.faq{
	margin-left: 20px;
	margin-bottom: 30px;	
    padding: 30px;
    border: 1px solid #e5e5e5;
    width: 90%	
}
.faqintro{
	width: 100%;
	text-align: left;
}
.faqtitle{
	color: #111;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
.faqdisc{
	font-size: 15px;
	color: gray;
	font-weight: bold;
}
.faqmenuarea{
	display: flex;
	justify-content: space-around;
}
.faqmenutitle{
	margin-bottom: 10px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 14px;
}
.faqmenulist > p{
	width: 100%;
	margin: 5px;
	font-size: 12px;
	font-weight: bold;
}
/* contact us */
.customer {
	width: 90%;	
    margin-left: 20px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
	
}

.customer_title {
	text-align: left;
}

.customer h2 {
	color: #111;
	font-weight: bold;
	font-size: 20px !important;
	margin-bottom: 10px;
}

.customer_content {
	margin-top: 30px;
    table-layout: fixed;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
}

.customer_content img {
	display: block;
	margin: auto;
	height: 35px; 
}

.content_title{
	font-weight: bold;
	margin: 30px;
    font-size: 14px;
    color: #111;
    height: 100px;
} 

.customer_content p {
	color: #666 !important;
	font-size: 13px;
}

.customer_content a{
	color: #666 !important;
	text-decoration: underline;
	font-size: 13px;
}

.tablelist {
	font-weight: bold;
}

.boardtitle {
	padding: 20px 0px 20px 50px;
	font-size: 32px;
}
