@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTTogether';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family: S-CoreDream-3Light !important;
}
.note-editable{
	font-family: '맑은 고딕' !important;
}
/** header start **/
#ground{
	height: 100%;
}
#ground > #header {
  height: 230px;
  padding:0 6.8%;
  /* transition:all 0.3s; */ /*메뉴효과 */
  background-color: rgba(255, 255, 255, 1);  /* 헤더 색상 */
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}
#header > .indiv {
  position: relative;
}
/* 
#header > .indiv .logobox {
  position:absolute;
  top:65px;
  left:0;
  width:115px;
  height:40px;
  z-index:2;
  overflow:hidden;
} 
*/
#logo{
	width: 180px;
	margin: 10px auto 15px auto;
}
.sidelogo{
	display: none;
	width: 90px;
	position: fixed;
	top: 1vh;
	left: 8vw;
	z-index: 100;
}
#header > .indiv .logobox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: #ff6e6f;
  text-align: center;
  margin: 0 0 30px;
}
#header > .indiv #menu {
  display:table;
  width:100%;
  text-align:center;
}
#header > .indiv #menu > li {
  display:inline-block;
  padding:0 50px;
  position:relative;
}
#header > .indiv #menu > li > a {
  position:relative;
  font-size:18px;
  line-height:30px;
  font-weight:800;
  color: #353535;
  text-decoration: none;
}
#header > .indiv #menu > li > a:hover {
  color: #353535;
  text-shadow: 1px 1px 1px rgb(255 255 255 / 20%);
  border-bottom: 4px #1FB154 solid;
}
#header > .indiv #menu > li:nth-child(1) > ul {width:230px;}
#header > .indiv #menu > li > ul li + li {margin-top:10px;}
#header > .indiv #menu > li > ul li a {
  display:inline-block;
  font-size:15px; color:#333;
  font-weight:400;
}
#header > .indiv #gnb {
  position:absolute;
  top: 20px;
  right:0;
  display:flex;
  z-index:201;
}
#header > .indiv #gnb > a {
  display:inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #353535;
}
#header > .indiv #gnb > a + a {margin-left:40px;}

.navScrolled {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 1;
  line-height: 70px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
/** header end **/
