/** container start **/

/* default */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 500px;

  background-color: greenyellow;    /*메인 백그라운드 컬러 */
  width: 90vw;
  margin-left: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
/* default */

/* search zone */
.search-zone .input-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* search zone */

/* recommend-zone */
.recommend-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.recommend-card-object {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.5s;
}

.recommend-card-object:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.recommend-card-object .recommend-card-contents {
  width: 250px;
  height: 150px;
}
/* recommend-zone */

/* community-zone */
.community-zone {
  margin-bottom: 50px;
}

.community-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.community-card-object {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  width: 250px;
  height: 200px;
  padding: 20px;
  margin: 10px;
}

.community-card-title {
  font-size: 22px;
  font-weight: bold;
}

.community-card-contents ul li {
  margin-top: 10px;
}

/* community-zone */

/** container start **/
