/** container start **/

/* default */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* default */

#container .search-area { 
	position: relative;
	width: 100%;
	height: 600px;
}
#container .search-area img{
	filter: brightness(60%);  
	width: 100%;
	margin: auto;
	vertical-align: middle;
/* 	position: fixed;
	top: 0; */
	position: relative;
	top: 0;
	z-index: -1;
}
.bgimage{
	position: fixed;
	top: -300px;
	margin: 0 auto;
	filter: brightness(50%); 
	z-index: -1;
}
.bgimage > img{
	object-fit: cover;
	display: block;
	height: 1200px;
	width: 100vw;
}

/** search area **/
#container .search-area .search-container { 
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 400px;
	text-align: center;
}
#container .search-area .search-contents {}
#container .search-area .search-contents input[type="text"] {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-left: -20px;
}

#container .search-area .search-contents input[type="text"]:focus {outline: none;}

#container .search-area .search-contents .search-btn {
  position: absolute;
  margin-left: -10px;
  margin-top:-4px;
  background-image: url('/resources/images/icon/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: #87C4B7;
  border:none;
  border-radius: 5px;
}
/** search area **/

.contents-area{
	background-color: white;
	width: 100%;
}
/** campingtype data area **/
.campsitetype{
	width: 100%;
	padding: 0 100px;
	margin: 320px auto 0 auto;
	height: 200px;
	text-align: center;
}
.campsitetitle{
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}
.count{
	color: #FBC853;
	font-size: 40px;
	font-weight: 900;
}
.campingchart{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/** campingtype data area **/


/** recommend area **/
*:focus, *:active, *:visited{
  outline: none;
}
.recommendslide{
	margin-bottom: 100px;
}
.recommendslide  a:link, a:visited{
	/* text-decoration: none; */
	color: #F28729;
}
.lefttitle{
	text-align: left; 
	margin: 80px 0 30px 150px;
	font-size: 36px;
    font-weight: 400;
    display: block;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}

/* text deco start*/
.stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent;
}

.text-shadow {
  text-shadow: 5px 5px #E07260;
}

.stroke-shadow-orange{
  color: #fff;
  text-shadow: -2px 0 #E07260, 0 -2px #E07260, 2px 0 #E07260, 0 2px #E07260, 2px 2px #E07260, -2px -2px #E07260, -2px 2px #E07260, 2px -2px #E07260, 6px 6px #E07260;
}
.stroke-shadow-blue{
  color: #fff;
  text-shadow: -2px 0 #87C4B7, 0 -2px #87C4B7, 2px 0 #87C4B7, 0 2px #87C4B7, 2px 2px #87C4B7, -2px -2px #87C4B7, -2px 2px #87C4B7, 2px -2px #87C4B7, 6px 6px #87C4B7;
}
.stroke-shadow-gray{
  color: #fff;
  text-shadow: -2px 0 #B0B0B0, 0 -2px #B0B0B0, 2px 0 #B0B0B0, 0 2px #B0B0B0, 2px 2px #B0B0B0, -2px -2px #B0B0B0, -2px 2px #B0B0B0, 2px -2px #B0B0B0, 6px 6px #B0B0B0;
}
.halftone {
  position: relative;
}
.halftone:after {
  content: "Hello";
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==") repeat;
  font-size: 15vw;
  letter-spacing: 6px;
  left: calc(50% + 6px);
  position: absolute;
  top: calc(50% + 6px);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-text-stroke-width: 0;
  -moz-text-stroke-width: 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.halftone-color:after {
  background-color: #db2777;
}
/* text deco end */

/* recommend slider */
.tarkikComandSlider {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #BABBBB;
  position: absolute;
}
.slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: #F8CF1C;
}

.slick-prev {
  left: 0;
  transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.slick-arrow {
  top: 50%;
  height: 26px;
  width: 14px;
  margin-top: -13px;
  position: absolute;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(/resources/images/icon/right-arrow.svg);
  background-repeat: no-repeat;
}

.comandSlider__item {
  transition: box-shadow 2s;
  cursor: pointer;
  position: relative;
  background-color: #262837;
  margin: 0 10px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: inset -141px -129px 200px rgba(0, 0, 0, 0.25);
}
/* .comandSlider__item:hover {
  box-shadow: inset 141px 129px 200px rgba(255, 255, 255, 0.25);
} */
.comandSlider__item_name, 
.comandSlider__item_name > a,
.comandSlider__item_name > a:link,
.comandSlider__item_name > a:visited {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: #F8CF1C;
  margin: 0;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comandSlider__item_status {
  margin: 0;
  color: #DBDBDB;
  font-size: 14px;
  margin-bottom: 30px;
  width: 100%;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comandSlider__item_sendMail {
  width: 35px;
  height: 35px;
  position: absolute;
  /* background-image: url(https://tarkikromanski.github.io/files/mail-ico.png); */
  top: 34px;
  right: 30px;
}
.comandSlider__item_photo {
  max-width: 100%;
  height: 250px;
  margin: auto;
  margin-bottom: 30px;
}
.comandSlider__item_contact {
  font-size: 14px;
  color: #DBDBDB;
  margin: 2px;
}
.comandSlider__item_contact span {
  color: #F8CF1C;
  font-weight: 700;
  margin-right: 5px;
}
/** recommend area **/

/** community area **/
.commuity-area{

}
.community-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  padding: 0 100px;
  background-color: #e3e3e3;
}

.community-contents{
  padding: 30px;
  width: 20vw;   /** 20vw **/
}

.fl, .fr {
  font-weight: bold;
}
.community-container > a, a:link, a:visited{
	color: black;
}

.community-contents-list > ul > li {
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** community area **/

/** container start **/
