/** container start **/

/* default */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* default */

#container .search-area { 
	position: relative;
	width: 100%;
	height: auto; 
}
#container .search-area img{
	filter: brightness(60%);  
	width: 100%;
	margin: auto;
	vertical-align: middle;
/* 	position: fixed;
	top: 0; */
	position: relative;
	top: 0;
	z-index: -1;
}


/** search area **/
#container .search-area .search-container { position: absolute;top: 50%;left: 50%;transform: translate( -50%, -50% );}
#container .search-area .search-contents {}
#container .search-area .search-contents input[type="text"] {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-left: -20px;
}

#container .search-area .search-contents input[type="text"]:focus {outline: none;}

#container .search-area .search-contents .search-btn {
  position: absolute;
  margin-left: -10px;
  margin-top:-1px;
  background-image: url('/resources/images/icon/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 52px;
  height: 52px;
  background-color: #D5EEBB;
  border:none;
  border-radius: 5px;
}
/** search area **/


/** campsite data **/

/** campsite data **/

/** recommend area **/

*:focus, *:active, *:visited{
  outline: none;
}
.recommendslide{
	margin-bottom: 100px;
}
.recommendslide > a:link, a:visited{
	text-decoration: none;
	color: #F28729;
}
.slidetitle{
	margin: 30px;
	font-size: 36px;
    font-weight: 700;
    display: block;
}
.tarkikComandSlider {
  width: 1500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #BABBBB;
  position: absolute;
}
.slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: #162C42;
}

.slick-prev {
  left: 0;
  transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.slick-arrow {
  top: 50%;
  height: 26px;
  width: 14px;
  margin-top: -13px;
  position: absolute;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(/resources/images/icon/right-arrow.svg);
  background-repeat: no-repeat;
}

.comandSlider__item {
  transition: box-shadow 2s;
  cursor: pointer;
  position: relative;
  background-color: #162C42;
  margin: 0 10px;
  padding: 30px;
  /* box-shadow: inset -141px -129px 200px rgba(0, 0, 0, 0.25); */
}
.comandSlider__item:hover {
  box-shadow: inset 141px 129px 200px rgba(0, 0, 0, 0.25);
}
.comandSlider__item_name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: #F28729;
  margin: 0;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comandSlider__item_status {
  margin: 0;
  color: #BABBBB;
  font-size: 12px;
  margin-bottom: 30px;
  width: 100%;
  height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comandSlider__item_sendMail {
  width: 35px;
  height: 35px;
  position: absolute;
  /* background-image: url(https://tarkikromanski.github.io/files/mail-ico.png); */
  top: 34px;
  right: 30px;
}
/* .comandSlider__item_island {
  width: 25px;
  height: 20px;
  position: absolute;
  background-image: url(/resources/images/icon/beach.svg);
  top: 34px;
  right: 30px;
} */
.comandSlider__item_photo {
  max-width: 100%;
  height: 250px;
  margin: auto;
  margin-bottom: 30px;
}
.comandSlider__item_contact {
  font-size: 14px;
  color: #BABBBB;
  margin: 2px;
}
.comandSlider__item_contact span {
  color: #F28729;
  font-weight: 700;
  margin-right: 5px;
}
/** recommend area **/

/** community area **/
.community-container {
  display: flex;
  justify-content: space-evenly;
}

.community-contents{
  padding: 30px;
  width: 20vw;   /** 20vw **/
}

.fl, .fr {
  font-weight: bold;
}
.community-container > a, a:link, a:visited{
	color: #162C42;
}

.community-contents-list > ul > li {
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** community area **/

/** container start **/
