/** container start **/

/* default */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* default */

#container .search-area { 
	position: relative;
	width: 100%;
	height: 800px;
    background-image: url("/resources/images/main_background.jpg");
    background-size : cover;
    background-position: center;

}
#container .search-area img{
	filter: brightness(60%);  
	width: 100%;
	margin: auto;
	vertical-align: middle;
/* 	position: fixed;
	top: 0; */
	position: relative;
	top: 0;
	z-index: -1;
}
.bgimage{
	position: fixed;
	top: -300px;
	margin: 0 auto;
	filter: brightness(50%); 
	z-index: -1;
}
.bgimage > img{
	object-fit: cover;
	display: block;
	height: 1200px;
	width: 100vw;
}

/** search area **/
#container .search-area .search-container { 
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 400px;
	text-align: center;
}
#container .search-area .search-contents {}
#container .search-area .search-contents input[type="text"] {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  margin-left: -20px;
}

#container .search-area .search-contents input[type="text"]:focus {outline: none;}

#container .search-area .search-contents .search-btn {
  position: absolute;
  margin-left: -10px;
  margin-top:-4px;
  background-image: url('/resources/images/icon/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-color: #4fd1c5;
  border:none;
  border-radius: 5px;
}
/** search area **/

.contents-area{
	background-color: white;
	width: 100%;
	margin-top: 40px;
}
/** campingtype data area **/
.campsitetype{
	width: 100%;
	padding: 0 100px;
	margin: 250px auto 0 auto;
	height: 200px;
	text-align: center;
}
.campsitetitle{
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}
.count{
	color: #1FB154 ;
	font-size: 50px;
	font-weight: 900;
}
.campingchart{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/** campingtype data area **/


/** recommend area **/
*:focus, *:active, *:visited{
  outline: none;
}
.recommendslide{
	margin: auto auto 100px auto;
	width: 90%;

}
.recommendslide  a:link, a:visited{
	/* text-decoration: none; */
	color: #F28729;
}
.recomentslide-title{
	text-align: center; 
	margin: 25px auto;
	font-size: 28px;
    font-weight: bold;
    line-height: 37px;
    /* text-shadow: 1px 1px 1px rgb(0 0 0 / 20%); */
}
.recomentslide-title > .subtitle{
	font-size: 18px;
    font-weight: bold;
    color: #1FB154;
}

/* text deco start*/
.stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent;
}

.text-shadow {
  text-shadow: 5px 5px #E07260;
}

.stroke-shadow-orange{
  color: #fff;
  text-shadow: -2px 0 #E07260, 0 -2px #E07260, 2px 0 #E07260, 0 2px #E07260, 2px 2px #E07260, -2px -2px #E07260, -2px 2px #E07260, 2px -2px #E07260, 6px 6px #E07260;
}
.stroke-shadow-blue{
  color: #fff;
  text-shadow: -2px 0 #87C4B7, 0 -2px #87C4B7, 2px 0 #87C4B7, 0 2px #87C4B7, 2px 2px #87C4B7, -2px -2px #87C4B7, -2px 2px #87C4B7, 2px -2px #87C4B7, 6px 6px #87C4B7;
}
.stroke-shadow-gray{
  color: #fff;
  text-shadow: -2px 0 #B0B0B0, 0 -2px #B0B0B0, 2px 0 #B0B0B0, 0 2px #B0B0B0, 2px 2px #B0B0B0, -2px -2px #B0B0B0, -2px 2px #B0B0B0, 2px -2px #B0B0B0, 6px 6px #B0B0B0;
}
.halftone {
  position: relative;
}
.halftone:after {
  content: "Hello";
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==") repeat;
  font-size: 15vw;
  letter-spacing: 6px;
  left: calc(50% + 6px);
  position: absolute;
  top: calc(50% + 6px);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-text-stroke-width: 0;
  -moz-text-stroke-width: 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.halftone-color:after {
  background-color: #db2777;
}
/* text deco end */



/* recommend area */
.tarkikComandSlider {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  font-weight: bold;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  display: none;
}
.slick-dots li:before {
  top: 1px;
  transition: all 0.5s;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #BABBBB;
  position: absolute;
}
.slick-dots li.slick-active:before {
  top: 0;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  background-color: #F8CF1C;
}

.slick-prev {
  left: 0;
  transform: rotate(180deg);
}

.slick-next {
  right: 0;
}

.slick-arrow {
  top: 50%;
  height: 26px;
  width: 14px;
  margin-top: -13px;
  position: absolute;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(/resources/images/icon/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.slick-arrow:focus {
	outline: none;
}

.comandSlider__item {
  transition: box-shadow 2s;
  cursor: pointer;
  position: relative;
  background-color: #DCD9D4;
  margin: 0 10px;
  /* padding: 30px; */
/*   border-top: 2px solid #353535;
  border-bottom: 2px solid #353535; */
   border-radius: 5px;
  /* box-shadow: inset -141px -129px 200px rgba(0, 0, 0, 0.25); */
}
.comandSlider__item > header{
	padding: 30px 15px 0 15px;
}
.comandSlider__item > footer{
	padding: 0 15px 30px 15px;	
}
/* .comandSlider__item:hover {
  box-shadow: inset 141px 129px 200px rgba(255, 255, 255, 0.25);
} */
.comandSlider__item_name, 
.comandSlider__item_name > a,
.comandSlider__item_name > a:link,
.comandSlider__item_name > a:visited {
  text-transform: uppercase;
  font-size: 18px;
  color: #353535;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comandSlider__item_status {
  margin: 0;
  color: #353535;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.comandSlider__item_sendMail {
  width: 35px;
  height: 35px;
  position: absolute;
  /* background-image: url(https://tarkikromanski.github.io/files/mail-ico.png); */
  top: 34px;
  right: 30px;
}
.comandSlider__item_photo {
  max-width: 100%;
  height: 300px;
  margin: auto;
  overflow:hidden;
  border-radius: 5px 5px 0 0;
}
.comandSlider__item_photo > a > img {
	width:100%;
    height:100%;
    object-fit:cover;
}
.comandSlider__item_contact {
  font-size: 14px;
  font-weight: normal;
  color: #353535;
  margin: 2px;
}
.comandSlider__item_contact span {
  color: #353535;
  margin-right: 5px;
  font-weight: bold;
}
/** recommend area **/




/** community area **/
.commuity-area{
	width: 80%;
	margin: auto;
}
.community-title{
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 28px;
	color: #353535;
	line-height: 30px;
}
.community-container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #f0f0f0; */
}

.community-contents{
  padding: 30px;
  width: 20vw;   /** 20vw **/
}
.fl, .fr {
  font-weight: bold;
  font-size: 18px;
}
.community-container > a, a:link, a:visited{
	color: black;
}

.community-contents-list > ul > li {
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

/** community area **/

/** container start **/

/** search **/

.search__input{
    width: 40%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 17px;
    line-height: 18px;

    color: white;
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 2px solid white;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* .search__input:hover{
    padding: 12px 0;
    outline: 0;
    border: 2px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-position: 100% center;
} */
.search__input:focus{
    padding: 12px 0;
    outline: 0;
    border: 2px solid transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    background-position: 100% center;
}
.search__input_btn{
	width: 40px;
	height: 35px;
	position: absolute;
	right: 5px;
	top: -7px;
	cursor: pointer;
}
/* product-area start */

.product-area{
	 height: 300px;
	 width: 75%;
	 margin: 50px auto;
}
.product-title-box{
	float: left; 
	width: 25%; 
	height: 100%;
	border-top: 2px solid gray; 
	border-bottom: 2px solid gray; 
	padding: 15px;
	position: relative;
}
.product-title{
	width: 100%;
	font-weight: bold;
	font-size: 28px;
	color: #353535;
	line-height: 30px;
}
.product-subtitle{
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	color: gray;
}
.product-more{
	position: absolute; 
	bottom: 15px; 
	right: 15px;
}
.product-more-icon {
	color: #1FB154;
}
.product-img-box{
	float: left; 
	width: 75%; 
	height: 100%;
	padding-left: 15px;
}
.item_box{
	border:1px solid #ccc;
}

/*
!* 스크롤바 설정*!
.content_ul::-webkit-scrollbar{
  width: 6px;
}

!* 스크롤바 막대 설정*!
.content_ul::-webkit-scrollbar-thumb{
  border: 4px solid transparent;
  background-color: #1FB154 ;
  border-radius: 5px;
}

!* 스크롤바 뒷 배경 설정*!
.content_ul::-webkit-scrollbar-track{
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}*/

.content_ul{
	height: 300px;
	width: 100%;
	list-style: none;
	white-space: nowrap;
	overflow-y: hidden;
	text-align: center;
}
.content_ul > li{
	display: inline-block;
	height: 100%;
	position: relative;
} 
.content_ul > li > a > img {
	height: 100%;
	filter: brightness(40%);
}
.content_ul > li > a > img:hover {
	filter: brightness(90%);
	/* text-shadow: 2px 2px 2px gray; */
}
.product-list-name{
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform:translate(-50%, 0);
	color: white;
	width: 280px;
	white-space: normal;
	word-break: keep-all;
	padding: 15px;
	font-weight: bold;
	line-height: 30px;
}
.product-list-count{
	position: absolute;
	top: 2%;
	left: 50%;
	transform:translate(-50%, 0);
	color: white;
	padding: 10px;
	border-bottom: 2px solid white;
	font-weight: bold;
}
.content_ul::-webkit-scrollbar {
  height: 10px;
  width: 1000px;
}
.content_ul::-webkit-scrollbar-track {
  background-color: transparent;
}
.content_ul::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #1FB154 ;
}
.content_ul::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* item-slider end */