@charset "UTF-8";

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.policy_wrap {
    margin: auto;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.policy_wrap .logo {
    text-align: center;
    margin-bottom: 10px;
}

.policy_wrap .logo h1 {
    margin: 0;
    font-size: 50px;
}

.policy_wrap .contents {
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#form__wrap {
    margin: 0 auto;
    width: 460px;
    font-size: 14px;
}

#form__wrap .terms__check__all {
    display: flex;
    margin-bottom: 35px;
}

#form__wrap .terms__check__all label {
    margin-left: 3px;
    text-decoration: underline;
}

.terms__list .terms__box {
    margin: 20px 0;
}

.contents label {
    font-weight: 700;
}

label.required::after {
    margin-left: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #0086ff;
    content: "(필수)";
}

.terms__list .terms__content {
    height: 88px;
    overflow: auto;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
    background: #fff;
    font-size: 12px;
}

.next-button {
    width: 100%;
    height: 40px;
    outline: none;
    cursor: pointer;
    background-color: #242222;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.next-button:hover:enabled {
    background-color: #a3a2a2;
}

.next-button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .wrap {
        min-width: 280px;
        padding: 20px;
    }

    #form__wrap {
        max-width: 460px;
        width: auto;
    }
}


/*모달css 시작*/
#modal_regi .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal_regi .modal-window {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    /*backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );*/
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 550px;
    height: 615px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1050;
}

#modal_regi .title {
    margin-top: 5px;
    display: flex;
    justify-content: center;


}

#modal_regi .title h2 {
    display: inline;
}

#modal_regi .close-area {
    display: flex;
    /*float: right;*/
    padding-top : 10px;
    padding-right: 10px;
    /*text-shadow: 1px 1px 2px gray;*/
    color: black;
    font-weight: bold;
    justify-content: flex-end;
}

#modal_regi .content {
    margin-top: 20px;
    padding: 0px 10px;
    /*text-shadow: 1px 1px 2px gray;
    color: white;*/
}

/*회원가입*/
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}*/

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    overflow: auto;
    padding: 20px;
}

.login {
    width: 35%;
    height: auto;
    background: #FFEB00;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 20px;
    z-index : 1000; /* test */
}

h2 {
    color: #c2e59c;
    font-size: 2em;
}
/*.login_sns {
    padding: 20px;
    display: flex;
}

.login_sns li {
    padding: 0px 15px;
}

.login_sns a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}*/

.login_id {
    margin-top: 20px;
    width: 80%;
}

.login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_pw {
    margin-top: 20px;
    width: 80%;
}

.login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

/*.login_etc {
    padding: 10px;
    width: 80%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}*/

.submit {
    margin-top: 50px;
    width: 80%;
}
.submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, #c2e59c, #64b3f4);
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 91px;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}


.btnJoin {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, #c2e59c, #64b3f4);
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}