@charset "UTF-8";

/* nav button */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
     font-family: 'S-CoreDream-6Bold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/* login modal */
.login_modal-overlay{
	top: 0;
}
.c_point{
	color: #1FB154;
}

/* swal resizing */
.swal2-popup{
	zoom: 1.5;
}



/* ----- Variables ----- */
/* ----- Global ----- */
/* * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  font-family: 'S-CoreDream-4Regular', sans-serif;
  background-color: rgb(193, 208, 204);
} */

.product h3 {
  font-size: 1.0em;
  letter-spacing: 1.2px;
  color: #a6a6a6;
}

.product img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto 5%;
  padding: 2.5em;
  min-width: 600px;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: 10%;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  /* box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3); */
  margin: 10px;
}

.photo-main {
  border-radius: 6pxrgb(255, 255, 255)x 6px;
  /* background-color: #ffffff;
  background: radial-gradient(#ffffff, #dddddd); */
}

/* .photo-main .controls {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  color: #fff;
}
.photo-main .controls i {
  cursor: pointer;
} */
.photo-main img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%); 
  margin: auto;
  max-width: 110%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(4px 4px 25px -2px rgba(0, 0, 0, 0.3));
}

/* .photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}
.photo-album ul {
  display: flex;
  justify-content: space-around;
}
.photo-album li {
  float: left;
  width: 55px;
  height: 55px;
  padding: 7px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
} */

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0 0 12em;
}
.hr{
	background-color: #e3e3e3 !important;
	border-top: 1px solid #e3e3e3 !important;
	margin: 10px 0;
}
.title > h1 {
  font-family: 'S-CoreDream-6Bold' !important;
  margin-bottom: 0.1em;
  color: #353535;
  font-size: 27px;
  font-weight: bold;
}
.title > span {
  font-size: 18px;
  color: #a6a6a6;
  padding-top: -10px;
}

.price {
  margin: 1.5em 0;
  font-size: 18px;
  font-weight: bold;
/*   text-align: right; */
}
.price span {
/* padding-left: 0.15em; */
  font-size: 30px;
  color: tomato;
}

.variant {
  overflow: auto;
  margin-bottom: 20px;
}
.variant h3 {
  margin-bottom: 0.5em;
}
.variant li {
  float: left;
  width: 35px;
  height: 35px;
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.variant li:first-child, .variant li:hover {
  border: 1px solid #a6a6a6;
}
.variant li:not(:first-child) {
  margin-left: 0.1em;
}

.description {
  clear: left;
  margin: 2em 0;
}
.description h3 {
  margin-bottom: 0.5em;
}
.description h4{
  margin-bottom: 0.5em;
  font-weight: bold;
}
.description ul {
  font-size: 0.8em;
  list-style: none;
  margin-left: 1em;
}
.description li {
  text-indent: -0.6em;
  margin-bottom: 0.5em;
}
select{
  font-size: 14px;
}
.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: #ff3f40;
  box-shadow: 2px 2px 25px -7px #4c4c4c;
  cursor: pointer;
}
.buy--btn:active {
  transform: scale(0.97);
}

/* Quantity Picker Section */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	 -webkit-appearance: none;
	 margin: 0;
}
 .quantity-picker {
	 border-radius: 4px;
	 overflow: hidden;
	 box-sizing: border-box;
	 height: 50px;
	 border: 2px solid #a6a6a6;
	 display: inline-flex;
	 flex-wrap: nowrap;
	 flex-direction: row;
	 -webkit-flex-direction: row;
}
 .quantity-picker > button, .quantity-picker > input {
	 -webkit-appearance: none;
	 user-select: none;
	 background: none;
	 font-size: 26px;
	 font-weight: 700;
	 border: 0;
	 border-radius: 0;
	 margin: 0;
	 box-sizing: border-box;
}
 .quantity-picker > button:focus, .quantity-picker > input:focus {
	 outline: none;
}
 .quantity-picker > input {
	 width: 64px;
	 text-align: center;
	 border-left: 1.5px solid #a6a6a6;
	 border-right: 1.5px solid #a6a6a6;
}
 .quantity-picker > button {
	 width: 42px;
	 flex: 0 0 42px;
	 padding: 0;
	 cursor: pointer;
}
 .quantity-picker > button.button-plus:hover {
	 background: #7ed2a9;
}
 .quantity-picker > button.button-plus:hover:disabled {
	 background: #caecdb;
}
 .quantity-picker > button.button-minus:hover {
	 background: #fe7c7c;
}
 .quantity-picker > button.button-minus:hover:disabled {
	 background: #ffe1e1;
}
 .quantity-picker > button.button-plus:hover, .quantity-picker > button.button-minus:hover {
	 color: #fff;
}
 .quantity-picker.is-small {
	 height: 30px;
}
 .quantity-picker.is-small > button, .quantity-picker.is-small > input {
	 font-size: 16px;
}
 .quantity-picker.is-small > input {
	 width: 40px;
	 flex: 0 0 40px;
}
 .quantity-picker.is-small > button {
	 width: 28px;
	 flex: 0 1 28px;
}

/* Total 금액 section */
.total{
	display: flex;
	justify-content: space-between;
	}

/* menu section */
.menu-nav {
  height: 60px; 
/*   position: fixed; 
  top: 0; */
  margin: auto 5%;
  margin-top: 60px;
  background: #f6f6f6;
}
.menu-nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.menu-nav ul li {
  display: inline-block;
  margin: 0 30px;
  width: 180px;
}
.menu-nav ul li a {
  padding: 10px 0;
  color: #353535;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
.menu-nav ul li a:hover {
  color: #1FB154;
  border-bottom: 4px #1FB154 solid;
  line-height: normal;
  text-decoration: none;
}
a.active {
  border-bottom: 2px solid #ecf0f1;
}
.nav-selected{
  color: #1FB154;
  border-bottom: 4px #1FB154 solid;
  line-height: normal;
  text-decoration: none;
}


/* ----- Main Content Section ----- */

.ad-main{
	margin: 50px 5%;
}
.item-detail{
	height: auto;
	margin:auto 5%; 
	padding: 20px;
}

/* 리뷰, qna */

.review-area,
.qna-area {
	margin: auto 5%;
	height: auto; 
	padding: 20px; 
	background-color: #ebebeb;
}
.pagination-nav{
	width: 100%;
	margin: auto;
	justify-content: center;
	text-align: center;
}

.review-count,
.qna-count {
	width: 100%;
	padding-left: 18px;
	padding-bottom: 15px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 2px solid #353535;
}
.review-row,
.qna-row {
	display: flex; 
	align-items: center;
	border-bottom: 1px solid #dbdbdb;
}
.review-rate,
.qna-status {
	flex: 1 1 15%; 
	padding: 10px; 
	text-align: center; 
	display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.review-title,
.qna-title,
.qna-answer {
	flex: 1 1 75%; 
	overflow: hidden; 
	padding: 10px;
	font-weight: bold;
}
.review-info,
.qna-info,
.qna-answer-info {
	flex: 1 1 15%;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.inner-info {
	text-align: left;
	display: inline-block;
}
.review-info > i,
.qna-info > i {
	margin-right: 5px;
}
.review-content-box,
.qna-content-box {
	min-height: 80px;
	display: none;
	border-bottom: 1px solid #dbdbdb;
	padding: 15px 0;
	line-height: 25px;
}
.review-content,
.qna-content {
	margin: auto 15%;
	font-weight: bold;
}
.review-image {
	margin: 20px 15% auto 15%;
}
.review-image > img {
	max-width: 100%;
}
.fa-star{
	color: #FFA600;
}
.qna-write {
	float: right;
	padding-right: 18px;
}
.qna-write > a,
.qna-write > a:link,
.qna-write > a:hover,
.qna-write > a:visited {
	color: #1FB154;
}
.qna-answer-row {
	display: flex; 
	align-items: center;
}
.qna-answer-icon {
	flex: 1 1 15%; 
	padding: 10px; 
	text-align: right; 
	display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.list-empty {
	height: auto;
	margin: 50px auto;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #353535;
}


/* 페이지네이션 */
.pagination>li>a, 
.pagination>li>span,
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
    color: #75AE87;
}    