@charset "UTF-8";

.sidemenu{
	padding-left: 80px;
}
.parentmenu{
	font-size: 2em;
	font-weight: bold;
}
.parentmenu > a:hover{
	text-decoration: none;
}
.childmenu{
	margin: 15px 10px;
	font-weight: bold;
}
.childmenu > a:hover{
	color: #ff0080 !important;
	text-decoration: none;
}