* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

li {
    list-style: none;
}

.snsRegi_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}

.snsRegi_login {
    width: 35%;
    height: 700px;
    background: yellow; /*회원가입창 배경*/
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #c2e59c;
    font-size: 2em;
}
/*.login_sns {
    padding: 20px;
    display: flex;
}

.login_sns li {
    padding: 0px 15px;
}

.login_sns a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}*/

.snsRegi_login_id {
    margin-top: 20px;
    width: 80%;
}

.snsRegi_login_id input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}

/*.login_pw {
    margin-top: 20px;
    width: 80%;
}

.login_pw input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}*/

/*.login_etc {
    padding: 10px;
    width: 80%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}*/

.snsRegi_submit {
    margin-top: 50px;
    width: 80%;
}
.snsRegi_submit input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, #c2e59c, #64b3f4);
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 91px;
}

#submit {
    width: 100%;
    padding: 11px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #08a600;
    font-size: 20px;
    font-weight: 400;
    font-family: "Noto Sans KR",Helvetica,sans-serif;
}


.join {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(to left, #c2e59c, #64b3f4);
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
}
