<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>

        <!-- 동준 -->
        <typeAlias type="com.camping.bit.dto.MemberDto" alias="MemberDto" />
        <typeAlias type="com.camping.bit.dto.MypageParam" alias="MypageParam" />

        <!-- 효경 -->
        <typeAlias type="com.camping.bit.dto.CampingListDto" alias = "CampingListDto"/>
        <typeAlias type="com.camping.bit.dto.CampingDetailDto" alias = "CampingDetailDto"/>
        <typeAlias type ="com.camping.bit.dto.CampingParam" alias = "CampingParam"/>
        <typeAlias type ="com.camping.bit.dto.CampingImageDto" alias = "CampingImageDto"/>
        <typeAlias type ="com.camping.bit.dto.CampingBbsDto" alias = "CampingBbsDto"/>
        <typeAlias type ="com.camping.bit.dto.CampingLikeDto" alias = "CampingLike"/>
        <typeAlias type = "com.camping.bit.dto.CampingCommentDto" alias = "CampingComment"/>

        <!-- 영신 -->
        <typeAlias type="com.camping.bit.dto.ProductDetailDto" alias="ProductDetailDto" />
        <typeAlias type="com.camping.bit.dto.ProductRentDto" alias="ProductRentDto" />
        <typeAlias type="com.camping.bit.dto.ProductOptionDto" alias="ProductOptionDto" />
        <typeAlias type="com.camping.bit.dto.ProductReviewDto" alias="ProductReviewDto" />
        <typeAlias type="com.camping.bit.dto.ProductQnaDto" alias="ProductQnaDto" />
        <typeAlias type="com.camping.bit.dto.CsNoticeDto" alias="CsNoticeDto" />
        <typeAlias type="com.camping.bit.dto.CsParam" alias="CsParam" />
        <typeAlias type="com.camping.bit.dto.CsNoticeCommentDto" alias="CsNoticeCommentDto" />
        <typeAlias type="com.camping.bit.dto.CsQnaDto" alias="CsQnaDto" />
		<typeAlias type="com.camping.bit.dto.CsCommentParam" alias="CsCommentParam" />

        <!-- 민경 -->
        <typeAlias type="com.camping.bit.dto.CommunityDto" alias = "CommunityDto"/>
        <typeAlias type="com.camping.bit.dto.CommunityParam" alias = "CommunityParam"/>
        <typeAlias type="com.camping.bit.dto.CommunityCommentDto" alias = "CommunityCommentDto"/>
        <typeAlias type="com.camping.bit.dto.CommunityLikeDto" alias = "CommunityLikeDto"/>
        <typeAlias type="com.camping.bit.dto.CommunityCommentParam" alias = "CommunityCommentParam"/>
        

    </typeAliases>   
</configuration>