@charset "UTF-8";

.campingreview_title {
	width: 850px;
	height: 30px;
	margin: 40px auto 60px;
	font-size: 28px;
	font-weight: bold;
	line-height: 35px;
}
.campingreview_title > p {
	font-size: 16px;
	font-weight: bold;
	color: #64bd20;
}
/*누구누구님의 소중한 리뷰 어쩌고랑 제목*/
#writer_info{
	width: 850px;
	text-align : left;
	margin : 30px auto 15px;
	font-size: 18px;
}
#title{
	width: 100%;
	
}
/*섬머노트 박스 크기*/
#summernotebox{
	width: auto;
	/* text-align : left; */
	margin : 15px auto;
}
.note-editor{
	margin:auto;
}

/*리뷰 디테일 화면 */
#review{
	width: 60%;
	margin : 30px auto 5px;
	border : 1px solid #64bd20;
	border-radius : 10px;
	padding : 2% 2% 2% 2%;
}
/*리뷰 수정삭제 부분*/
.reviewmanage{
	width: 60%;
	margin: 10px auto 30px;
}
/*실제 리뷰가 테이블로 뿌려지는 부분*/
#commentlist{
	margin : 3% 20%;
}

.nickname{
	width : 150%;
	height : 70%; 
	font-weight : bold;
	padding-bottom : 3%;
}

/* .camping_list{
	margin : 30px 200px 30px 250px;
} */

/*버튼*/

.btn-light{
	color : #FFA600;
	border-color : #FFA600;
	background-color: white;
}
.btn-light:hover{
	color : white;
	border-color : #FFA600;
	background-color: #FFA600;
}

.updatebutton{
	margin : 0 30% 5% 47.5%;
}

.writebutton{
	margin : 0 30% 5% 47.5%;
}
/*댓글 작성하는 버튼*/
#writeCommentBtn{
	margin : 0 0 0 92%;
}
/*댓글 수정한 내용 보내는 버튼*/
#sendUpdateBtn{
	margin : 0 0 0 92%;
}
/*페이지네이션*/
.pagination > li > a
{
    background-color: white;
    color: #353535;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #1FB154 !Important;
    border: solid 1px #1FB154 !Important;
}

.pagination > .active > a:hover
{
    background-color: #1FB154 !Important;
    border: solid 1px #1FB154;
}

.container{
	width : 100%; 
	text-align : center;
}


/* 댓글 */
#writer {
	border: 1px solid rgb(0,0,0,.1);
	border-radius: 5px;
	padding: 15px;
	text-align: center;
}
#content, #contentupdate {
	width: 100%; 
	margin: auto;
	border: 1px solid rgb(0,0,0,.1);
	border-radius: 5px;
	height: 70px;
	resize: none;
	padding: 10px;
}
.writecommentsec{
	width: 100%;
	text-align: right;
}
.commentlisting tr, td{
	padding: 10px;
	vertical-align: middle;
	font-weight: bold;
}



