@charset "UTF-8";
/*누구누구님의 소중한 리뷰 어쩌고랑 제목*/
#writer_info{
	width: 850px;
	text-align : left;
	margin : 30px auto 15px;
	font-size: 18px;
}
#title{
	width: 100%;
	
}
/*섬머노트 박스 크기*/
#summernotebox{
	width: auto;
	/* text-align : left; */
	margin : 15px auto;
}
.note-editor{
	margin:auto;
}

/*리뷰 디테일 화면 */
#review{
	margin : 3% 20% 3% 20%;
	border : 1px solid #64bd20;
	border-radius : 10px;
	padding : 2% 2% 2% 2%;
}
/*리뷰 수정삭제 부분*/
.reviewmanage{
	margin : 3% 20% 3% 20%;
}
/*실제 리뷰가 테이블로 뿌려지는 부분*/
#commentlist{
	margin : 3% 18% 3% 20%;
}

.nickname{
	width : 150%;
	height : 70%; 
	font-weight : bold;
	padding-bottom : 3%;
}

/* .camping_list{
	margin : 30px 200px 30px 250px;
} */

/*버튼*/

.btn-light{
	color : #FBC853;
	border-color : #FBC853;
}
.btn-light:hover{
	color : #E07260;
	border-color : #FBC853;
}

.updatebutton{
	margin : 0 30% 5% 47.5%;
}

.writebutton{
	margin : 0 30% 5% 47.5%;
}
/*댓글 작성하는 버튼*/
#writeCommentBtn{
	margin : 0 0 0 92%;
}
/*댓글 수정한 내용 보내는 버튼*/
#sendUpdateBtn{
	margin : 0 0 0 92%;
}
/*페이지네이션*/
.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #87C4B7 !Important;
    border: solid 1px #2c6639 !Important;
}

.pagination > .active > a:hover
{
    background-color: #87C4B7 !Important;
    border: solid 1px #2c6639;
}

.container{
	width : 100%; 
	text-align : center;
}