@charset "UTF-8";
/*제일 상단에 권역, 도/시, 시군구, 캠핑장을 검색해볼까요 부분*/
/* .search {
    position: relative;
    text-align: center;
    width: 400px;
    margin: 10px 200px 0 100px;
    
} */

/* 로그인 모달 글씨 바뀌는 것 방지 */
h4 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/* 최상단 제목 */
.campinglist_title {
	width: 70%;
	height: 30px;
	margin: 40px auto 60px;
	font-size: 28px;
	font-weight: bold;
	line-height: 35px;
}
.campinglist_title > p {
	font-size: 16px;
	font-weight: bold;
	color: #64bd20;
}
.deep-search {
	width: 100%;
	margin : 20px auto;
}
.form-inline {
	justify-content: center;
}

/*검색창 둥글게하기*/
#search {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #f0f0f0; 
    margin: 10px 0;
    padding: 10px 12px;
    display: inline;
    max-width: 400px;
    width: 300px;
}
#searchForm1{
	width: 630px;
	margin: auto;
	border-radius: 5px;
}
#addressRegion1,
#addressDo1,
#addressSiGunGu1 {
	height: 46px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}
/* .fa-search {
    position: absolute;
    left: 15px;
    top: 20px;
    margin: 0;
} */
/*자세하기 검색하기에서 +와 문자 사이의 간격*/
[id$="-toggle"] {
  margin-right: 2%;
}
/*자세하게 검색하기*/
th{
	color : #64bd20;
	width : 20%;
	text-align : left;
	vertical-align: middle;
}
td{
	width : 83%;
	text-align : left;
	padding : 1% 0 0 0;
}
.detailSearch {
  display: none;
  padding-bottom: 5%;
}
.detailSearch_btn {
	width: 100%;
	text-align: center;
}
.option-content {
   margin : 1% 12% 0 15%;
}

.category {
  font-size: 19px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #6C3201;
  background-color: #64bd20;
  outline: none;
  background: none;
  width: 100%;
  text-align: left;
}
/*.category:hover {
  color: #64bd20;
}*/

#total{
	border: 1px solid #6C3201;
	border-top: none;
	padding: 30px;
}
.search_sorting{
	height: 50px;
	position: relative;
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.howmany{
	float: left;
	position: absolute;
	bottom: 5px;
	font-size: 18px;
}
.campsite_number{
	color: red;
    font-weight: bold;
}
.sorting_select{
	float: right;
	position: absolute;
	bottom: 0;
}

/*실제 캠핑장들 주르륵 보이는 부분*/

.camping_search_list{
	margin : 1% 12% 0 15%;
}
.camping_search_list li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: auto;
}
.mainimage{
	width: 25%;
	padding-right: 20px;
	text-align: left;
}

.camping_information{
	width: 75%;
}

/*캠핑 리스트에서 조회수, 추천수만 검정색으로 보이게 하기*/
/* h2{
    color : black;
} */
/*캠핑장 크게 나오는 이름*/
.campsite_name > a, 
.campsite_name > a:link, 
.campsite_name > a:visited{
	color : #FFBF00;
	font-size: 24px;
    font-weight: bold;
}
.campsite_name{
	padding-bottom: 5px;
	border-bottom: 1px solid #f0f0f0;
}
.lineintro{
	color: gray;
	margin-bottom: 5px;
}
.campsite_tel{
	margin-right: 20px;
}
/*캠핑리스트 내에 있는 버튼들*/

#service{
	width: 100%;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	background-color: #f0f0f0;
	margin: 10px auto auto;
	padding: 10px;
	min-height: 52px;
}
#service img{
	margin-right: 5px;
}

.btn-light{
	color : #FFBF00;
	border-color : #FFBF00;
    background-color: white;
}
.btn-light:hover{
	color : #FFF;
	border-color : #FFBF00;
	background-color: #FFBF00;
}

button:focus{
	outline : none;
}
#resetBtn:focus{
  color: #1FB154;
  background-color: #f8f9fa;
  border-color: #1FB154;
  outline: none;
  box-shadow: none;
}

#resetBtn:active{
  color: #1FB154;
  background-color: #f8f9fa;
  border-color: #1FB154;
  outline: none;
}

/*페이지네이션*/
.pagination > li > a
{
    background-color: white;
    color: #353535;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    /*border-color: #ddd;*/
}

.pagination > .active > a
{
    color: white;
    background-color: #1FB154 !Important;
    border: solid 1px #1FB154 !Important;
}

.pagination > .active > a:hover
{
    background-color: #1FB154 !Important;
    border: solid 1px #1FB154;
}

.container{
	width : 100%;
	text-align : center;
}


/*정렬&nice select*/

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  /* clear: both; */
  cursor: pointer;
  display: block;
  /* float: left; */
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: 120px; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
  
 /*캠핑장 아무 결과도 안 나올때 이미지*/
  .nosearchpic{
  	margin : 0 0 5% 37%;
  }

/*.search btn-light{
    color : #6C3201;
    border-color : #6C3201;
    background-color: white;
}
.search btn-light:hover{
    color : white;
    border-color : #6C3201;
    background-color: #6C3201;
}*/
